In [1]:
import pandas as pd

In [2]:
xml_df = pd.read_parquet("/Users/noahkim/Documents/UTPS/Traffic_Sim/utps-ts-repo/data/interim/filtered_events_test.parquet", engine="pyarrow")

In [5]:
print(f"Number of events: {len(xml_df)}")

Number of events: 2892780

In [6]:
xml_df.head()

   person   link_id  time_enter  time_leave event_type
0  427942   6556793       30600       30601       trip
1  781933   7402825       30600       30601       trip
2  731939  11515787       30600       30601       trip
3  285071   6114222       30600       30601       trip
4  682678   9381563       30600       30601       trip